<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
</head>
<body ng-controller="listTask">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="" ng-model="task">
      <span class="input-group-addon" ng-click="add()">添加</span>
    </div>
    <h4 ng-if="tasks.length >0 ">任务列表</h4>
    <ul class="list-group">
      <li ng-repeat="item in tasks track by $index" class="list-group-item">{{item}} <a href="javascript:;" class="pull-right" ng-click="tasks.splice($index,1)">删除</a></li>
    </ul>
</body>
<script src="lib/angular.min.js"></script>
<script src="src/test.js"></script>
</html>
