<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
    .selected {background: #139029;}
    </style>
</head>
<body ng-controller="listTask">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="" ng-model="task">
      <span class="input-group-addon" ng-click="add()">添加</span>
    </div>
    <h4 ng-if="tasks.length >0 ">任务列表</h4>
    <ul class="list-group">
      <li ng-repeat="item in tasks track by $index" class="list-group-item">{{item}} <a href="javascript:;" class="pull-right" ng-click="tasks.splice($index,1)">删除</a></li>
    </ul>
    <div ng-controller="OuterCtrl">
      <p>{{data.x}}</p>
      <div ng-controller="InnerCtrl">
        <input type="text" ng-model="data.x">
      </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>item1</th>
                <th>item2</th>
                <th>item3</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in [1,2,3]">
                <td ng-class="{'selected':selectClass}" ng-repeat="item in tableData" my-td >{{item}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-danger" ng-click="reset();">重置表格</button>
</body>
<script src="lib/angular.1.5.5.min.js"></script>
<script src="lib/jquery.2.2.2.min.js"></script>
<script src="src/test.js"></script>
</html>
